@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to Quizzard!</h1>

<h2>Instructions</h2>

<h3>Viewing Quizzes</h3>
<p>To get started, click on the "Quizzes" option in the navigation menu to view available quizzes.</p>

<div>There you can either fill out the existing quizzes or view their statistics by clicking on their respective buttons next to their name.</div>
<h3>Creating quizzes</h3>
<p>To create a new quiz, click on the "Create Quiz" link in the navigation menu.</p>
<div>
<p>Now you are ready to give your quiz a name by filling in the Quiz's title field!</p>
<p>There are 5 different question types you can choose from:</p>
<ul>
	<li>Single Choice</li>
	<li>Multiple Choice</li>
	<li>True/False</li>
	<li>Text Input</li>
	<li>Pairing</li>
</ul>
 <p>You can choose the type of question to add by selecting it in "Select type", then press "Add question" to add it.</p>
 <p>When you have a question, you can add an image to it by selecting an approriate file after clicking on "Quiz's image".</p>
 <p>If you want to have more otpions for answers, you can do so by pressing the "+" button or if you want to have less you can press the "-" button.</p>
 <p> After giving options for the answers you can select the correct answer(s) at "Correct option".</p>
	<p>When you are done creating your quiz, press the "Save quiz" button to save it.</p>
</div>