@using Quizzard.Models
@using Quizzard.Models.Questions

@for (int i = 0; i < question.AnswerOptions.Count; i++)
{
	var index = i;
	<label style="margin-bottom: 10px;">
		<input type="checkbox"
		checked="@IsChecked(question.Id, index)"
		@onchange="(ChangeEventArgs e) => OnMultipleChoiceChange(question.Id, index, e)" />
		@question.AnswerOptions[index].OptionText
	</label>
	<br />
}

@code {

	[Parameter]
	public MultipleChoiceQuestion question { get; set; }

	[Parameter]
	public UserAnswer userAnswer { get; set; }

	[Parameter]
	public List<UserAnswer> userAnswers { get; set; }


	private Dictionary<int, List<int>> multipleChoiceSelections = new Dictionary<int, List<int>>();


	private bool IsChecked(int questionId, int optionIndex)
	{
		return multipleChoiceSelections.TryGetValue(questionId, out var selections) && selections.Contains(optionIndex);
	}

	private void OnMultipleChoiceChange(int questionId, int optionIndex, ChangeEventArgs e)
	{
		var isChecked = e.Value?.ToString()?.ToLower() == "true";  

		var ua = userAnswers.FirstOrDefault(a => a.QuestionId == questionId);
		if (ua != null)
		{
			if (!multipleChoiceSelections.ContainsKey(questionId))
			{
				multipleChoiceSelections[questionId] = new List<int>();
			}
			var selections = multipleChoiceSelections[questionId];
			if (isChecked)
			{
				if (!selections.Contains(optionIndex))
					selections.Add(optionIndex);
			}
			else
			{
				selections.Remove(optionIndex);
			}
			ua.SelectedAnswer = string.Join(";", selections.OrderBy(x => x));
		}
	}
}
