@using Quizzard.Models
@using Quizzard.Models.Questions

@for (int i = 0; i < question.AnswerOptions.Count; i++)
{
	var index = i;
	<label style="margin-bottom: 10px;">
		<input type="checkbox"
			   checked="@IsChecked(question.AnswerOptions[index])"
			   @onchange="(ChangeEventArgs e) => OnMultipleChoiceChange(question.AnswerOptions[index], e)" />
		@question.AnswerOptions[index].OptionText
	</label>
	<br />
}

@code {

	[Parameter]
	public MultipleChoiceQuestion question { get; set; }

	[Parameter]
	public UserAnswer userAnswer { get; set; }

	//Dictionary key is the question id
	//Value is a list of selected answer option indices
	private List<int> selectedOrderIndices = new List<int>();

	private bool IsChecked(AnswerOption option)
	{
		return selectedOrderIndices.Contains(option.OrderIndex);
	}

	private void OnMultipleChoiceChange(AnswerOption option, ChangeEventArgs e)
	{
		var isChecked = e.Value?.ToString()?.ToLower() == "true";

		if (userAnswer != null)
		{
			if (isChecked)
			{
				if (!selectedOrderIndices.Contains(option.OrderIndex))
					selectedOrderIndices.Add(option.OrderIndex);
			}
			else
			{
				selectedOrderIndices.Remove(option.OrderIndex);
			}
			userAnswer.SelectedAnswer = string.Join(";", selectedOrderIndices.OrderBy(x => x));
		}
	}
}
