@using Quizzard.Models
@using Quizzard.Models.Questions


<InputRadioGroup @bind-Value="userAnswer.SelectedAnswer" Name=@($"question-{scq.Id}")>
	@foreach (var options in scq.AnswerOptions)
	{
		<label style="margin-right: 20px;">
			<InputRadio Value="@options.OrderIndex.ToString()" /> @options.OptionText
		</label>
	}
</InputRadioGroup>

@code {

	[Parameter]
	public UserAnswer userAnswer { get; set; }
	[Parameter]
	public SingleChoiceQuestion scq { get; set; }

}
