@using Quizzard.Models
@using Quizzard.Models.Questions


<InputRadioGroup @bind-Value="userAnswer.SelectedAnswer" Name=@($"question-{scq.Id}")>
	@for (int i = 0; i < scq.AnswerOptions.Count; i++)
	{
		<label style="margin-right: 20px;">
			<InputRadio Value="@i.ToString()" /> @scq.AnswerOptions[i].OptionText
		</label>
	}
</InputRadioGroup>

@code {

	[Parameter]
	public UserAnswer userAnswer { get; set; }
	[Parameter]
	public SingleChoiceQuestion scq { get; set; }

}
