@using Quizzard.Models
@using Quizzard.Models.Questions

<input type="checkbox" @bind="scq.IsShuffled">Shuffle answer options</input> 
@for (int i = 0; i < scq.AnswerOptions.Count; i++)
{
    var index = i;
    <input class="rounded-pill" style="margin-right: 20px; margin-bottom: 10px;" @bind="scq.AnswerOptions[index].OptionText"
    placeholder=@($"Option {index + 1}") />
}
<br />
<div>
    <button class="btn btn-success" @onclick="() => AddOption()">+</button>
    <button class="btn btn-danger" @onclick="() => RemoveOption()" disabled="@(scq.AnswerOptions.Count <= 2)">–</button>
</div>
<br />
<label>Correct Answer:</label>
<select style="font-family:'Comic Sans MS';" @bind="scq.CorrectAnswer">
    @for (int i = 0; i < scq.AnswerOptions.Count; i++)
    {
        <option style="font-family:'Comic Sans MS';" value="@i">@scq.AnswerOptions[i].OptionText</option>
    }
</select>

@code {

    [Parameter]
    public SingleChoiceQuestion scq { get; set; }

    private void AddOption()
    {
        scq.AnswerOptions.Add(new AnswerOption { OptionText = "" });

    }

    private void RemoveOption()
    {
        if (scq.CorrectAnswer.Equals((scq.AnswerOptions.Count - 1).ToString()))
		{
			scq.CorrectAnswer = "0";
		}
        scq.AnswerOptions.RemoveAt(scq.AnswerOptions.Count - 1);

    }

}